.sidebar {
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: #1f2739; /* Change the background color */
  z-index: 1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e0e0e0;
}

.sidebar-items {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.sidebar-item {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: #ffffff; /* Change the text color */
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #35425e; /* Change the hover background color */
}

.sidebar-item-active {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #35425e;
  cursor: pointer;
}

.sidebar-item-icon {
  width: 20px;
}

.sidebar-item-label {
  font-size: small;
  font-weight: 600;
  margin-left: 15px;
}

.sidebar-footer {
  padding: 1.5em;
  color: #ffffff; /* Change the text color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar-footer:hover {
  background-color: #0e1524; /* Change the hover background color */
}
.sidebar-header {
  padding: 1.5em;
  color: #ffffff; /* Change the text color */
  display: flex;
  align-items: center;
  background-color: black;
  cursor: pointer;
}
